<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <%= form_with(model: task, local: true, class: "index-page__form") do |form| %>
      <% if task.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <!--The form contains <%= pluralize(task.errors.count, "error") %>.-->
            <%= yield(:btn_name) %>できませんでした
          </div>
          <ul>
          <% task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
  
      <%= form.label :name, "Name（担当者）" %>
      <%= form.text_field :name, class: 'form-control' %>
  
      <%= form.label :body, "Body（内容）" %>
      <%= form.text_area :body, class: 'form-control' %>
  
      <!--<%= form.hidden_field :user_id, :value => "#{current_user.id}" %>-->
      <%= hidden_field_tag :user_id, current_user.id %>  <!--  ここ   --!>
      <%= form.submit yield(:btn_name), class: "btn btn-primary"%>
    <% end %>
    
  </div>
</div>