<h1>TODOアプリ</h1>
<div class="index-page">
  <%= render 'form', task: @task %>
  <div class="index-page__tasks">
    
    <div class="index-page__task-list">
      <h2>TODO</h2>
      <div class="task-list">
        <div class="task-list__item task">  
          <% @task_todo.each do |task| %>
            <div class="task__name"><%= task.name %></div>
            <div class="task__body"><%= task.body %></div>
            <div class="task__buttons">
              <div class="task__edit">
                <%= link_to '編集', edit_task_path(task) %>
              </div>
              <div class="task__toggle">
                <%= link_to 'DONEにする', tasks_path %>
                <!--<a rel="nofollow" data-method="patch" href="/tasks/16/toggle_status">DONEにする</a>-->
              </div>          
            </div>
            <!--<td><%#= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
          <% end %>
        </div>
      </div>
    </div>
    
    <div class="index-page__task-list">
      <h2>DONE</h2>
      <div class="task-list">
          <div class="task-list__item task">
          <% @task_done.each do |task| %>
            <div class="task__name"><%= task.name %></div>
            <div class="task__body"><%= task.body %></div>
            <div class="task__buttons">
              <div class="task__edit">
                <%= link_to '編集', edit_task_path(task) %>
              </div>
              <div class="task__toggle">
                <%= link_to 'TODOにする', tasks_path %>
              </div>          
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%#= link_to 'New Task', new_task_path %>
